html { 
    max-width: 100%;
    overflow: hidden;
}


body {

  padding: 0;
  margin: 0;
  overflow:hidden;

}


p {   

  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 100px;  
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: red;
  margin: 0;
  /*filter: blur(2px);*/
  text-align: center;  

}



#load{
  
  height: 100%;
  width: 100%;
  display: table;
  
}

#loadText {
  position: absolute;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
  -webkit-text-fill-color: #808080;
  -webkit-text-stroke-width: 0px;
  height: 200px;
  width: 400px;
  margin: -100px 0 0 -200px;
  top: 50%;
  left: 50%;
  animation: blinker 1.5s ease-in-out infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}



#runtext {

  height: 100%;
  width: 100%;

  }


#Text {

  position: absolute;
    height: 200px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
  
}

#Timestamps {

  padding-left: 10px; 
  padding-top: 10px; 
  position: absolute;

}

#preload{
  background-color: black;
  position: fixed;
  left: 200px;
  top: 300px;
  width: 300px;
  height: 800px;
}


#Timestamp1, #Timestamp2, #Timestamp3, #Timestamp4, #Timestamp5, #Timestamp6, #Timestamp7 {

    text-align:left; 
    font-size: 40px; 
    -webkit-text-stroke-width: 1px; 
    filter: blur(1px);*/

  }


/* > 960px */

@media only screen and (min-width: 960px) {
  #Timestamp1, #Timestamp2, #Timestamp3, #Timestamp4, #Timestamp5, #Timestamp6, #Timestamp7 {

    font-size: 100px; 

    
}



